#!/sbin/openrc-run

name="Vaultwarden"
command="/opt/vaultwarden"
pidfile="/var/run/vaultwarden.pid"
command_user="vaultwarden"
start_stop_daemon_args="-u vaultwarden -d /home/vaultwarden -b -m"

depend() {
    need net
    provide vaultwarden
    use dns
}

