---
- name: Set custom facts
  set_fact:
    image: "{{ image | default('ubuntu-20.04-standard_20.04-1_amd64.tar.gz') }}"
    ostype: "{{ ostype | default('ubuntu') }}"
    disk_size: "{{ disk_size | default(8) }}"
    cpu_cores: "{{ cpu_cores | default(1) }}"
    cpu_units: "{{ cpu_units | default(1024) }}"
    memory: "{{ memory | default(512) }}"
    swap: "{{ swap | default(512) }}"
    firewall_file: "{{ firewall_file | default('firewall.j2') }}"
    allow_ssh: "{{ allow_ssh | default('yes') }}"
    redirected_ports: "{{ redirected_ports | default([]) }}"
- name: Setup container
  include_role:
    name: container
    tasks_from: container

- name: Create public dir
  file:
    path: "/{{ zfs_volume }}/subvol-{{ ctid }}-disk-0/srv/public"
    state: directory
    recurse: yes

- name: Update apt
  command: "pct exec {{ ctid }} -- apt update"
...
