[OPTIONS]

log_level_out: nolog
enable: 1
policy_in: DROP
ipfilter: 1
log_level_in: nolog

[RULES]

{% for port in redirected_ports %}
IN ACCEPT -i net0 -p tcp -dport {{ port }} -log nolog # redirection for port {{ port }}
{% endfor %}
IN ACCEPT -source {{ reverse_proxy_ip }} -p icmp # accept ping from reverse proxy
IN ACCEPT -i net0 -source 10.0.{{ vlan }}.1 # accept connections from gateway
IN ACCEPT -i net0 -source {{ reverse_proxy_ip }} -dest {{ ip }} -p tcp -dport 8000 # accept incoming connections on 8000 by reverse proxy
IN ACCEPT -i net0 -dest 10.0.{{ vlan }}.0/24
OUT ACCEPT -i net0 -dest 10.0.{{ vlan }}.0/24
OUT REJECT -i net0 -dest 10.0.0.0/16
