# Redirect port {{ port.value }} ({{ port.proto }}) to {{ item }} ({{ ctid }})
iptables -t nat -A PREROUTING -i vmbr0 -p {{ port.proto }} --dport {{ port.value }} -j DNAT --to 10.0.{{ vlan }}.{{ ctid }}
