[OPTIONS]

enable: 1

[RULES]

{% for port in redirected_ports %}
IN ACCEPT -i net0 -p {{ port.proto }} -dport {{ port.value }} -log nolog
{% endfor %}
IN ACCEPT -i net0 -source 10.0.{{ vlan }}.1
IN ACCEPT -source {{ firewall_ip }} -p icmp # accept ping from firewall
IN ACCEPT -i net0 -source 10.0.0.100 # accept connections from gateway
