upstream {{ item }}-upstream {
    server 10.0.{{ hostvars[item]['vlan'] }}.{{ hostvars[item]['ansible_ssh_extra_args'] }}:443;
}

server {
    listen 80;
    listen [::]:80;
    server_name  {{ item }};

    include letsencrypt.conf;

    if ($uri !~ '^/.well-known/acme-challenge') {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name {{ item }};

    ssl_certificate    /etc/ssl/letsencrypt/ssl_certificate.pem;
    ssl_certificate_key    /etc/ssl/letsencrypt/ssl_private_key.pem;


    access_log /var/log/nginx/{{ item }}_access_log main;
    error_log /var/log/nginx/{{ item }}_error_log info;

    root /var/www/{{ item }}/docroot;
    index index.htm index.html;

    location / {
        proxy_pass https://{{ item }}-upstream/;
    }
}

